/*

###How to apply classes in html:

class='main': To wrap in curved border and pink background

class='main_nav' : To turn links into purple buttons with red borders

class='secondary_nav': To make links into purpe text

class='row': To wrap a set of columns
class='column': To make a column

###Other styles applied directly to elements:

body
header
h1
h2
footer
img



*/

html {
    background: #ff7518;
}
nav{
                border-radius: 50px;
                padding: 15px;
                margin: 0px;
                background: black;
                text-align: center;
                font-family:sans-serif;
                border: solid;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                text-decoration: none;
                color: #ff7518;
}

nav > a {
    text-decoration: none;
    font-family: creepster, cursive;
    color: #ff7518;
    padding: 30px;
}

nav > a:hover {
    text-decoration: none;
    font-family: creepster, cursive;
    color: #28641c;
    padding: 30px;
}

.navMenuIcon {
    visibility: hidden;
}

nav > a:hover .navMenuIcon {
    visibility: visible;
}

.navBarIcon {
    visibility: hidden;
}

#theOtherNavBar > a:hover .navBarIcon {
    visibility: visible;
}

#theOtherNavBar > a:hover {
    text-decoration: none;
    font-family: creepster, cursive;
    color: #28641c;
    padding: 30px;
}

header{
    font-family:creepster, cursive;
    font-size: 3em;
    text-align: center;
    background: black;
    color: #ff7518;
    padding: 30px;
}

h1{
    margin-top: 1px;
}

#theOtherNavBar{
    font-family: sans-serif;
    text-align: center;
    border: dashed;
    background: #ff7518;
    padding: 10px;
}

#theOtherNavBar > a{
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: black;
    font-family: creepster, cursive;
    font-size: 25px;
    padding-right: 40px;
}

#leftColumn{
    display: block;
    background: black;
    margin: 0px;
    width: 49%;
    float:left;
    height: 970px;
}

#attractionsLeftCol{
    display: block;
    background: black;
    margin: 0px;
    width: 49%;
    float:left;
    height: 1850px;
}

.servicesLeftCol{
    display: block;
    background: black;
    margin: 0px;
    width: 49%;
    float:left;
    height: 650px;
}

#rightColumn{
    display: block;
    background: black;
    margin: 0px;
    width: 49%;
    float:right;
    height: 970px;
}

#attractionsRightCol{
    display: block;
    background: black;
    margin: 0px;
    width: 49%;
    float:right;
    height: 1850px;
}

.servicesRightCol{
    display: block;
    background: black;
    margin: 0px;
    width: 49%;
    float:right;
    height: 650px;
}

.subHeader {
    text-align: center;
    color: #ff7518;
    font-family: creepster, cursive;
    font-size: 35px;
}

.columnImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #ff7518;
}

.mainTextDescription {
    text-align: center;
    color: #ff7518;
    font-size: 25px;
    font-family: creepster, cursive;
}

#mainMap {
    display: block;
    padding-bottom: 30px;
}

#mapHeader {
    text-align: center;
    color: black;
    font-family: creepster, cursive;
    font-size: 45px;
}

#mapText {
    text-align: center;
    color: black;
    font-family: creepster, cursive;
    font-size: 30px;
}

#mapImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: black;
}

.servicesText {
    text-align: center;
    color: black;
    font-family: creepster, cursive;
    font-size: 30px;
}

#tickets {
    display: block;
    background: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#ticketsText {
    text-align: center;
    color: #ff7518;
    font-family: creepster, cursive;
    font-size: 30px;
}

#selectBlock {
    padding-left: 35%;
    padding-bottom: 20px;
}

.ticketsSelect {
    display: block;
    position: relative;
    font-family: creepster, cursive;
    float: left;
    background: #ff7518;
    border-radius: 15px;
    font-size: 20px;
    padding-left: 10px;
    padding-right:10px;
}

.ticketsSelect:hover {
    border-color: #28641c;
    border-width: 4px;
    color: #28641c;
}

.ticketsSelect:focus {
    border-color: #28641c;
    border-width: 4px;
    color: #28641c;
}

#adsLeft {
    display: block;
    float: left;
    width: 49%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#adsRight {
    display: block;
    float: right;
    width: 49%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.adImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    width: 600px;
}

#footer {
    text-align: center;
}



/*test*/
.column {
    float: left;
    width: 48%;
    background:#000000;
    margin:5px orange;   

}

.row{
     margin: 2px 2px 2px 2px;
     background: #000000;
    
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}

