/*

###How to apply classes in html:

class='main': To wrap in curved border and pink background

class='main_nav' : To turn links into purple buttons with red borders

class='secondary_nav': To make links into purpe text

class='row': To wrap a set of columns
class='column': To make a column

###Other styles applied directly to elements:

body
header
h1
h2
footer
img



*/

body{
    font-family: fantasy;
}

/*main section*/
.main{
               
               
                border-radius: 50px;
                padding: 0px;
                margin: auto;
                background: pink;
                text-align: center;
                max-width: 1024px;
                border: solid;
                box-shadow: black;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
                text-decoration: none;

}

/*upper navigation bar*/
.main_nav > ul > a{
    padding-bottom: 5px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;

    color: white;
    border: solid;
    border-radius: 20px;
    border-color: red;
    background-color:blueviolet;
    
        
}


header{
   
    font-size: 3em;
    text-align: center;
    background: #f5f7a3;
    margin-top: 1;
    margin-bottom: 1;
    color:#d820e5;
    
}

h1{
    margin: 1px;
}

h2{
    color:#944499
}

/*second nav bar*/
.secondary_nav{
    font-family: fantasy;
    text-align: center;
    border: 1px dashed;
    margin: 1px;
        
}

.secondary_nav > ul > a{
    padding: 20px;
    text-decoration: none;
}


.column {
    float: left;
    width: 49%;


}

.row{
     margin: 2px 2px 2px 2px;
     background: #fff0b3;
    
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  
}


.map_section{
    margin:0px;
    width: 100%;
}

footer{
   
    padding-top: 5px;
    text-align: center
    
    
}

img{
   
    background: yellow;
    border: 3px dashed;
}

